* {
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: #E5E5E5;
}

.mt-60 {
  margin-top: 60px;
}

.filter_title {
  font-size: 18px;
  font-weight: 700;
}
.filters {
  margin-top: 20px;
}